.{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-family: "Nunito",sans-serif;
}
.input{
    text-align: center;
    margin:100px 0;
}
.input[type="text"]{
    height:50px;
    width:600px;
    background:#e7e7e7;
    font-family:"Nunito",sans-serif;
    font-weight: bold;
font-size: 20px;
border:none;
border-radius: 2px;
padding:10px 20px;
}
.input[type="submit"]
{
    height:50px;
    width:600px;
    background:#e7e7e7;
    font-family:"Nunito",sans-serif;
    font-weight: bold;
font-size: 20px;
border:none;
border-radius: 2px;
padding:10px 20px;
}
.display{
    text-align:center;
}